html {
  background: url(img/rainbowBG.jpg);
}

h1 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
}

.color-box {
  background-color: yellow;
  width: 400px;
  height: 200px;
  margin: auto;
  border: 3px solid gray;
}

a {
  text-decoration: none;
  color: blue;
}
body {
  text-align: center;
  border-radius: 25px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px 75px;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: white;
  width: 45px;
  letter-spacing: 1px;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.rgbtext {
  font-family: "Courier New", Courier, monospace;
}

#greenbox {
  background-color: green;
}

#redbox {
  background-color: red;
}

#bluebox {
  background-color: blue;
}
#blackbutton {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 35px;
}

#whitebutton {
  background-color: white;
  color: black;
  border-radius: 5px;
}
#previewbutton {
  background-color: gray;
  color: white;
  border-radius: 5px;
}

button {
  padding-left: 10px;
  padding-right: 10px;
}
button:hover {
  opacity: 0.5;
}
